#Import

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Load data from sheet 1 skipping the first 6 rows
data = pd.read_excel('Ire_EU_Milk_Prices.xlsx', sheet_name=0, skiprows=6, index_col=0)
print(data.head(10))
print(data.columns)

C:\Users\lilwe\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\reader\workbook.py:118: UserWarning: Print area cannot be set to Defined name: 'Raw Milk Prices'!$A:$AE.
  warn(f"Print area cannot be set to Defined name: {defn.value}.")

         Belgium Bulgaria  Czechia  Denmark  Germany  Estonia  Ireland  \
1977m01    18.57      NaN      NaN    19.85    20.33      NaN    14.62
1977m02    18.13      NaN      NaN    19.67    20.07      NaN    15.05
1977m03    16.79      NaN      NaN    19.78    19.86      NaN    14.12
1977m04    16.95      NaN      NaN    19.62    19.89      NaN    14.19
1977m05    17.32      NaN      NaN    20.05    19.83      NaN    14.61
1977m06    17.18      NaN      NaN    19.63    19.59      NaN    15.03
1977m07    16.76      NaN      NaN    19.70    19.92      NaN    15.01
1977m08    17.24      NaN      NaN    20.18    20.29      NaN    15.44
1977m09    17.88      NaN      NaN    20.48    20.72      NaN    16.53
1977m10    18.90      NaN      NaN    21.25    21.18      NaN    17.30

         Greece  Spain  France  ...  Unnamed: 72  Unnamed: 73  Unnamed: 74  \
1977m01     NaN  19.35   16.76  ...          NaN          NaN          NaN
1977m02     NaN  19.30   16.55  ...          NaN          NaN          NaN
1977m03     NaN  19.41   16.34  ...          NaN          NaN          NaN
1977m04     NaN  19.86   15.97  ...          NaN          NaN          NaN
1977m05     NaN  19.79   15.15  ...          NaN          NaN          NaN
1977m06     NaN  19.79   15.10  ...          NaN          NaN          NaN
1977m07     NaN  16.63   15.07  ...          NaN          NaN          NaN
1977m08     NaN  16.85   15.17  ...          NaN          NaN          NaN
1977m09     NaN  16.68   15.81  ...          NaN          NaN          NaN
1977m10     NaN  16.97   16.83  ...          NaN          NaN          NaN

         Unnamed: 75  Unnamed: 76 Unnamed: 77  Unnamed: 78  Unnamed: 79  \
1977m01          NaN          NaN         NaN          NaN          NaN
1977m02          NaN          NaN         NaN          NaN          NaN
1977m03          NaN          NaN         NaN          NaN          NaN
1977m04          NaN          NaN         NaN          NaN          NaN
1977m05          NaN          NaN         NaN          NaN          NaN
1977m06          NaN          NaN         NaN          NaN          NaN
1977m07          NaN          NaN         NaN          NaN          NaN
1977m08          NaN          NaN         NaN          NaN          NaN
1977m09          NaN          NaN         NaN          NaN          NaN
1977m10          NaN          NaN         NaN          NaN          NaN

         Unnamed: 80 Unnamed: 81
1977m01          NaN         NaN
1977m02          NaN         NaN
1977m03          NaN         NaN
1977m04          NaN         NaN
1977m05          NaN         NaN
1977m06          NaN         NaN
1977m07          NaN         NaN
1977m08          NaN         NaN
1977m09          NaN         NaN
1977m10          NaN         NaN

[10 rows x 81 columns]
Index([                                          'Belgium',
                                                'Bulgaria',
                                                 'Czechia',
                                                 'Denmark',
                                                 'Germany',
                                                 'Estonia',
                                                 'Ireland',
                                                  'Greece',
                                                   'Spain',
                                                  'France',
                                                 'Croatia',
                                                   'Italy',
                                                  'Cyprus',
                                                  'Latvia',
                                               'Lithuania',
                                              'Luxembourg',
                                                 'Hungary',
                                                   'Malta',
                                             'Netherlands',
                                                 'Austria',
                                                  'Poland',
                                                'Portugal',
                                                 'Romania',
                                                'Slovenia',
                                                'Slovakia',
                                                 'Finland',
                                                  'Sweden',
                                      'EU\n\n(without UK)',
       '% EU (without UK) compared to previous month\n(*)',
                                             'Unnamed: 30',
                                             'Unnamed: 31',
                                             'Unnamed: 32',
                                             'Unnamed: 33',
                                             'Unnamed: 34',
                                             'Unnamed: 35',
                                             'Unnamed: 36',
                                             'Unnamed: 37',
                                             'Unnamed: 38',
                                             'Unnamed: 39',
                                             'Unnamed: 40',
                                             'Unnamed: 41',
                                             'Unnamed: 42',
                                             'Unnamed: 43',
                                             'Unnamed: 44',
                                             'Unnamed: 45',
                                             'Unnamed: 46',
                                             'Unnamed: 47',
                                             'Unnamed: 48',
                                             'Unnamed: 49',
                                             'Unnamed: 50',
                                             'Unnamed: 51',
                                             'Unnamed: 52',
                                                       574,
                                             'Unnamed: 54',
                                             'Unnamed: 55',
                                             'Unnamed: 56',
                                             'Unnamed: 57',
                                             'Unnamed: 58',
                                             'Unnamed: 59',
                                             'Unnamed: 60',
                                             'Unnamed: 61',
                                             'Unnamed: 62',
                                             'Unnamed: 63',
                                             'Unnamed: 64',
                                             'Unnamed: 65',
                                             'Unnamed: 66',
                                             'Unnamed: 67',
                                             'Unnamed: 68',
                                             'Unnamed: 69',
                                             'Unnamed: 70',
                                             'Unnamed: 71',
                                             'Unnamed: 72',
                                             'Unnamed: 73',
                                             'Unnamed: 74',
                                             'Unnamed: 75',
                                             'Unnamed: 76',
                                             'Unnamed: 77',
                                             'Unnamed: 78',
                                             'Unnamed: 79',
                                             'Unnamed: 80',
                                             'Unnamed: 81'],
      dtype='object')

C:\Users\lilwe\AppData\Local\Programs\Python\Python311\Lib\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)